.container_header{
    position: absolute;
    width: 80%;
    height: 100px;
    /* background-color: black; */
    top: 0;
    left: 12%;
    display: flex;
    justify-content: flex-end;
}

.container_message{
    width: 95%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text_message{
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
.client_text{
    font-size: 20px;
    color: black;
    margin-top: 20px;
    text-decoration: underline;
    margin-right: 10px;
}